
body{
	margin: 0;
	padding: 0;
	background: white;
}

 #text{
 	color: black;
 	font-size: 25px;
 	text-align: center;
 	margin-top: 100px;
 	text-transform: uppercase;
 	font-family: "Montserrat";
 	font-weight: 700;
 }